.category-links {
    box-shadow: 0 1px 3px #0000007d;
    height: 4vh;
    margin-bottom: 30px;
    > * {
        background-color: rgba(255, 255, 255, 0);
        border: none;
        margin: 0 10px;
        color: $brandingGrey;
        font-weight: bolder;
        font-size: rem(20px);
        cursor: pointer;
        transition: .2s;
    }
    button:hover { 
        color: $brandingBlue;
    }
}
