.event-preview {
    position: relative;
    width: 340px;
    height: 450px;
    border-radius: 10px;
    border: 3px solid #e9e9e9;
    text-align: left;
    box-shadow: 0 1px 3px #00000038;
    background-color: white;
    transition: 0.3s;

    p {
        margin-inline-start: 20px;
        padding-inline-end: 10px;
        font-family: secondfontregular;
    }

    .event-img-container {
        height: 200px;
        margin-bottom: 20px;
        cursor: pointer;
        border-radius: 10px 10px 0px 0px;
        @include aspect-ratio(1, 1);
    }

    .label {
        cursor: pointer;
        width: 151px;
        height: 40px;
        border-radius: 20px;
        border: 2px solid $brandingBlue;
        color: $brandingBlue;
        font-family: secondfontbold;
        font-size: rem(20px);
        background-color: #ffffff;
        position: absolute;
        right: 19px;
        top: 179px;
        font-weight: bolder;
        p {
            margin: 0;
        }
    }

    .capacity {
        border: 2px solid $brandingPurple;
        color: $brandingPurple;
    }

    .muted {
        border: 2px solid $clrborderlight;
        color: $clrborderlight;
    }

    .event-title {
        font-family: secondfontbold;
        font-size: rem(25px);
        cursor: pointer;
        margin-bottom: 10px;
    }
    .address {
        font-size: rem(20px);
        letter-spacing: 0.2px;
    }
    .event-time {
        font-size: rem(25px);
        margin-bottom: 20px;
        text-transform: uppercase;
        letter-spacing: -1px;
        span {
            font-size: rem(15px);
            vertical-align: text-top;
            text-transform: lowercase;
            letter-spacing: 0px;
            margin-inline-start: 2px;
        }
    }
    .event-desc {
        color: rgb(139, 139, 139);
        font-size: rem(14px);
        line-height: 16px;
        width: 90%;
        margin-bottom: 10px;
    }

    .bottom-container {
        border-top: 3px solid $clrborderlight;
        padding-top: 20px;
    }

    .event-preview-bottom {
        margin: 0 10px 0 20px;
        margin-bottom: 10px;
        cursor: pointer;
    }
    .price {
        font-family: secondfontbold;
        font-size: rem(25px);
    }
}
.event-preview:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.568);
}
