.event-preview {
    width: 250px;
    height: 410px;
    border-radius: 7px;
    text-align: left;
    box-shadow: 0 1px 3px #00000038;
    transition: 0.3s;

    .event-img-container {
        height: 140px;
        margin-bottom: 10px;
        cursor: pointer;
        @include aspect-ratio(1,1)
    }

    .user-preview-min {
        margin: 0 15px;
        margin-bottom: 10px;
        border-bottom: 1px solid $clrborderlight;
    }

    .event-title {
        font-family: decondfontregular;
        font-size: rem(20px);
        margin-top: 10px;
        cursor: pointer;
        margin-inline-start: 15px;
    }
    .event-time {
        font-family: decondfontlight;
        font-size: rem(14px);
        color: $brandingGrey;
        margin-bottom: 10px;
        margin-inline-start: 15px;
    }
    .event-desc {
        color: rgb(139, 139, 139);
        font-size: rem(14px);
        line-height: 16px;
        width: 90%;
        margin-bottom: 10px;
        margin-inline-start: 15px;
    }
    .event-preview-bottom {
        margin: 0 15px;
        margin-bottom: 10px;
        cursor: pointer;
    }
    .price {
        font-size: rem(25px);
        font-family: decondfontlight;
    }
    .participants {
        width: 100px;
    }
}

.event-preview:hover {
    box-shadow: 0 2px 9px #00000080;
}