.footer-bg {
    margin-top: 250px;
    padding: 50px;
    bottom: 0;
    width: 100vw;
    background: rgb(17, 17, 17);
    color: white;
    z-index: 11;
    // @media screen and (max-width: 550px) {
    // }
    
    
    
    .clean-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }


    footer-top {
        background-color: rgb(78, 78, 78);
    }
}