.upcoming-container {
    .InfiniteCarousel {
        width: 1500px !important;
        margin: 0 auto !important;
    }
    .InfiniteCarouselFrame {
        width: 100%;
        margin: 0 auto;
        margin-top: -30px;
    }
    .InfiniteCarouselSlide {
        display: flex !important;
        align-items: center;
        justify-content: center;
    }

    .InfiniteCarouselArrowNext {
        right: -25px;
    }

    .InfiniteCarouselArrowPrev {
        left: -25px;
    }

    .InfiniteCarouselArrowIcon {
        border: solid $brandingBlue !important;
        border-width: 0 5px 5px 0 !important;
    }

    .InfiniteCarouselDots {
        margin-top: 40px;
        position: relative;
        > * {
            outline: none;
        }
        .InfiniteCarouselDotActiveIcon {
            background-color: $brandingBlue;
        }
    }
    @media screen and (max-width: 1600px) {
        .InfiniteCarousel {
            width: 78% !important;
        }

    }
    @media screen and (max-width: 800px) {
        .InfiniteCarousel {
            width: 78% !important;
        }
        .InfiniteCarouselDot {
            margin: 0 0 !important;
        }
    }
}
