

.user-desc {
    // width: 250px;
    // border: 1px solid $clrborder;
    padding: 40px !important;
    padding-bottom: 15px !important;

    >* {
        width: 100%;
    }

    .user-info {
        // border-bottom: 1px solid $clrborderBottom;
        .full-name {
            font-size: 25px;
            font-weight: 700;
            line-height: 40px;
        }
        h4 {
            margin-bottom: 5px;
        }
        margin-bottom: 5px;
    }

    .user-img {
        width: 150px;
        margin-bottom: 5px;
    }
    .user-stats {
        padding: 0 7px;
        >* {
            width: 100%;
            justify-content: space-between;
            // text-align: left;
            font-size: 20px;
            font-weight: 400;
            line-height: 40px;
            :nth-child(even) {
                width: 22px;
            }
        }
    }

    .follow-btn {
        margin-bottom: 15px;
        // text-align: center;
        margin-top: 20px;
        background: lightgreen;
    }
}
