.event-index {
    .event-list {
        margin-top: 180px;
    }

    .event-list-filter {
        margin-bottom: 30px;
        background-color: white;
        box-shadow: 0 1px 3px #0000007d;
        width: 100vw;
        height: 100px;
        position: fixed;
        z-index: 1;
        transition: .7s;

        .filters-set {
            width: 45vw;
            margin-bottom: 10px;
            .MuiAutocomplete-inputRoot {
                border-bottom: 1px solid black;
                height: 40px;
                width: 300px;
            }
        }
    }
    .active {
        top: 110px;
    }
    .inactive {
        top: 20px;
    }

    .category-links {
        position: fixed;
        top: 60px;
    }
}
