.event-details {
  margin-top: 65px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  .event-info {
    box-shadow: 0 1px 3px #00000038;
    border: 1px solid lighten(black, 80);
    border-width: thin;
    padding: 10px;
    margin-top: 20px;
    border-radius: 15px;
    align-items: flex-start;
    .inactive-notification {
      color: red;
      margin-right: 10px;
    }
    .navigator {
      font-size: 15px;
      text-decoration: none;
      a {
        text-decoration: none;
        color: lighten(blue, 20);
      }
      span {
        margin: 0 5px 0 5px;
        color: lighten(blue, 20);
      }
      .btn-link {
        display: inline;
        cursor: pointer;
        background-color: white;
        color: lighten(blue, 20);
        border: none;
        padding: 0;
        font-size: 15px;
        margin: 10px 0 10px;
      }
    }

    p,
    pre {
      text-align: left;
      margin-top: 10px;
    }
    .event-time-place {
      font-size: large;
      font-weight: 600;
    }
    .user-preview img {
      width: 50px;
    }
    span.event-month {
      text-transform: uppercase;
    }
    span.event-day {
      color: red;
    }

    .icon-edit {
      width: 30px;
      cursor: pointer;
    }
    .icon-inactive {
      width: 35px;
    }

    .event-tags {
      align-self: center;
      .clean-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      .event-tag {
        background-color: grey;
        padding: 4px;
        margin: 5px;
        border-radius: 10px;
        color: white;
      }
    }
    img {
      border-radius: 15px;
    }
  }
}

.ReactGridGallery_tile-viewport img {
  cursor: inherit !important;
}

@media (max-width: 760px) {
  .event-details {
    display: flex;
    flex-direction: column;
    margin:20px; 
    .event-info {
      width: 100%;
      margin-top:60px;
      align-self: center;
      justify-self: center;
    }

  }

}
