.main-header-container {
    height: 576px;
    .header {
        position: absolute;
        z-index: 2;
        color: white;
        h1 {
            width: 792px;
            height: 66px;
            color: #ffffff;
            font-family: "Roboto Condensed";
            font-size: 60px;
            font-weight: 700;
            line-height: 27.79px;
            letter-spacing: 0.85px;
        }
    }
    img {
        position: relative;
        left: 0;
        width: 1921px;
        object-fit: cover;
    }
    .hero-overlay {
        position: absolute;
        z-index: 1;
    }
}
