.main-header-container {
    height: 40vh;

    .header {
        position: absolute;
        z-index: 1;
        color: white;
        h1 {
            margin-bottom: 20px;
            font-family: mainfont;
            font-size: rem(40px);
        }
    }

    img {
        position: relative;
        left: 0;
        height: 100%;
        object-fit: cover;
    }
}