@font-face {
    font-family: mainfont;
    src: url(../../assets/fonts/bebas/BebasNeue-Regular.ttf);
}
@font-face {
    font-family: decondfontlight;
    src: url(../../assets/fonts/roboto/RobotoCondensed-Light.ttf);
}
@font-face {
    font-family: decondfontregular;
    src: url(../../assets/fonts/roboto/RobotoCondensed-Regular.ttf);
}
@font-face {
    font-family: decondfontbold;
    src: url(../../assets/fonts/roboto/RobotoCondensed-Bold.ttf);
}