$clr1: #e94631;
$clr2: #263207;
$clr3: #2f4858;
$clr4: rgb(152, 193, 218);
$clr5: #ffffff;
$clrborder: rgb(71, 71, 71);
$clrborderlight: rgb(194, 194, 194);
$clrborderBottom: rgb(161, 161, 161);
$starClr: #e6a80e;
$textMuteClr: #d3d3d3;
$whiteHoverClr: #cccccc;

$brandingGrey: #b5b5b5;
$brandingPurple: #e17fff;
$brandingBlue: #1cabff;
$brandingGrad: linear-gradient(120deg, rgba(225,127,255,1) 0%, rgba(28,171,255,1) 100%);

//Breakpoint

$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
